.rpgm-breadcrumb {
	width: 100%;
	font-size: 0.9em;
	text-align: center;
	padding-bottom: 10px;

	.line, .spaced-line {
		margin-left: 0%;
		margin-right: 0%;

		.separator {
			padding-right: 10px;
			padding-left: 10px;
		}

		.crumb, .separator {
			display: inline-block;

			.title, .value {
				text-align: left;
			}

			.title {
				font-weight: 100;
				font-size: 0.7em;
				font-variant-caps: small-caps;
				color: var(--text-muted);
			}

			.value {
				font-weight: 300;
				font-size: 0.9em;
				text-align: left;

				p {
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}

	/*
	.spaced-line {
		margin-top: 20px;

		.crumb > .title {
			text-align: center;
		}
	}
	 */
}

.popover {
	.rpgm-breadcrumb {
		display: none;
	}
}
