*{
	box-sizing:border-box;
}

.clearfix::after {
	 content: "";
	 clear: both;
	 display: table;
 }

.rpgm-modal {
	.gallery {
		border: solid 1px var(--background-modifier-border);
		width: 100%;
		min-height: var(--modal-max-height);

		.gallery-navigation {
			width: 100%;
			padding: 20px;
			border-bottom: solid 1px var(--background-modifier-border);
			display: flex;
			gap: 25px;

			.separator, .link {
				float: left;
			}
		}

		.gallery-operations {
			width: 100%;
			padding: 20px;

			.dropzone {
				border: dashed 2px var(--background-modifier-border);
				width: calc(100% - 100px);
				min-height: 200px;
				margin: 50px;
				text-align: center;
				padding-top: 80px;
			}

			input {
				margin-bottom: 20px;
			}

			.image-container {
				max-width: 300px;
				margin-top: 20px;

				img {
					width: 100%;
				}
			}

			.gallery-operations-edit-deleted {
				display: none;
				position: absolute;
				z-index: 1;
				background-color: rgba(0, 0, 0, 0.6);
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				color: var(--text-on-accent);
				text-align: center;
				padding-top: calc(50% / 2);
				font-size: 2em;
				font-weight: 200;
			}

			.gallery-operations-edit {
				.gallery-operations-edit-image {
					width: 50%;
					float: left;

					img {
						width: 100%;
					}
				}

				.gallery-operations-edit-editor {
					width: 50%;
					float: left;
					padding: 0px 20px;

					label {
						clear: both;
						display: table;
					}

					textarea {
						width: 100%;
						min-height: 100px;
					}
				}
			}

			.gallery-operations-masonry-x {
				width: 100%;
				column-count: 3;
				column-gap: 1em;

				&:hover{
					img {
						opacity:0.5;
					}
				}

				img {
					display: inline-block;
					width: 100%;
					margin-bottom: 1em;
					cursor: pointer;
					transition:all .8s;

					&:hover{
						opacity:1;
					}
				}
			}

			.gallery-operations-masonry {
				display: flex;
				flex-wrap: wrap;
				column-gap: 1em;
				flex-direction: row;

				&:hover{
					img {
						opacity:0.5;
					}
				}

				img {
					position:relative;
					width: calc(33.33% - 1em);
					padding: 10px;
					width: 100%;
					display: block;
					transition:all .8s;
					cursor: pointer;
				}

				.gallery-operations-masonry-item {
					position:relative;
					width: calc(33.33% - 1em);

					.gallery-operations-masonry-item-container {
						background-color: var(--background-modifier-cover);
					}

					.image{
						padding: 10px;
						width: 100%;
						display: block;
						transition:all .8s;
						cursor: pointer;
					}

					&:hover{
						.image{
							opacity:1;
						}
					}

					.caption {
						font-size: 0.9em;
						color: var(--text-muted);
						padding: 10px;
					}
				}
			}
		}
	}
}

@media ( max-width : 860px ){
	// set to 2 column
	.gallery-operations-masonry{
		height:220vw;
		.gallery-operations-masonry-item{
			width:50%;
		}
	}
}
@media ( max-width : 667px ){
	// set to 1 column
	.gallery-operations-masonry{
		height:auto;
		.gallery-operations-masonry-item{
			width:100%;
		}
	}
}

.rpgm-image-carousel {
	width: 300px;
	float: right;
	margin: 10px;
	padding: 10px;
	border: solid 1px var(--background-modifier-border);
	background-color: var(--background-modifier-cover);

	.images {
		.group {
			width: 100%;

			.container {
				width: 100%;
				font-size: 0.9em;
				color: var(--text-muted);

				image {
					width: 280px;
				}
			}
		}
		.invisible {
			display: none;
		}
	}
	.navigator {
		padding: 0px 50px 10px 50px;

		.counter {
			font-size: 0.8em;
			color: var(--text-faint);
			margin: 0 auto;
			width: 100px;
			text-align: center;
		}

		.previous, .next {
			font-size: 0.9em;
			cursor: pointer;
			color: var(--text-accent);
		}

		.previous {
			float: left;
		}
		.next {
			float: right;
		}
	}
}
