{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint", "deprecation"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"rules": {
		"deprecation/deprecation": "warn",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "warn",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"no-fallthrough": "off",
		"no-mixed-spaces-and-tabs": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"semi": ["error", "always", { "omitLastInOneLineBlock": false }],
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": "memberLike",
				"modifiers": ["private"],
				"format": ["camelCase"],
				"leadingUnderscore": "require"
			}
		]
	}
}
