$black: #202020;
$white: #fff;
$off-white: #eeeeee;
$super-off-white: #f9f9f9;
$dark-grey: #808080;
$light-grey: #d9d9d9;
$purple: #B97CFC;
$pink: #F93B69;
$green: #B0E8E2;
$orange: #EB8B6E;
$red: #ff2020;
$blue: #2020ff;

.rpgm-missing {
	font-weight: 100;
	font-style: italic;
	color: $dark-grey;
	font-size: 0.9em;
}

.rpgm-container {
	overflow: hidden;
}

.rpgm-header {
	background-size: cover;
	color: $white;
	position: relative;
	min-height: 350px;
	height: 350px;
}

.rpgm-plot-container {
	width: 100%;
	border-left: solid 1px $off-white;
	padding: 30px;
	margin-bottom: 20px;
	color: $dark-grey;


}

.rpgm-plot {
	margin: 30px;
	color: $dark-grey;
	margin-bottom: 60px;

	p {
		margin: 0px;
	}
}

.rpgm-header-overlay {
	margin-bottom: -50px;
	box-sizing: border-box;
	background: rgba(128, 128, 128, 0.5) ;
	min-height: 350px;

	.rpgm-header-title {
		font-size: 4em;
		display: inline-block;
		padding-left: 30px;
		width: 100%;
		margin-top: 50px;
	}

	.rpgm-campaign-name {
		display: inline-block;
		padding-left: 30px;
		width: 100%;
		font-size: 1.6em;
	}

	.rpgm-current-date {
		display: inline-block;
		padding-left: 30px;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.6em;
		letter-spacing: 2px;
		width: 100%;
		margin-top: 2px;
	}
}


.rpgm-timeline {
	margin-top: 50px;

	ul {
		padding: 1em 0 0 2em;
		margin: 0;
		list-style: none;
		position: relative;
		padding-inline-start: 0px;

		&::before {
			content: ' ';
			height: 100%;
			width: 1px;
			background-color: $light-grey;
			position: absolute;
			top: 0;
			left: 133px;
			z-index: -1;
		}
	}

	li div{
		display: inline-block;
		margin: 1em 0;
		vertical-align: top;
	}

	.bullet {
		width: 1em;
		height: 1em;
		box-sizing: border-box;
		border-radius: 50%;
		background: $dark-grey;
		z-index: 1;
		margin-right: 10px;
		border: 1px solid $dark-grey;
		margin-top: 20px;

		&.red {
			border: 1px solid $red;
			background: $red;
		}

		&.green {
			border: 1px solid $green;
			background: $green;
		}

		&.blue {
			border: 1px solid $blue;
			background: $blue;
		}

		&.purple {
			border: 1px solid $blue;
			background: $purple;
		}
	}

	.event-time-container {
		width: 115px;
		margin-top: 18px;
		margin-right: 10px;
		text-align: right;

		.event-time {
			width: 115px;
			font-size: 0.75em;
			padding-top: 0.25em;
			margin-top: 0px;
		}

		.event-type {
			width: 115px;
			font-size: 0.75em;
			margin-left: 0px;
			margin-top: 0px;

			&.red {
				color: $red;
			}

			&.green {
				color: $green;
			}

			&.blue {
				color: $blue;
			}

			&.purple {
				color: $purple;
			}
		}
	}

	.event-details {
		margin-top: 0px;
		width: calc(100% - 151px);

		h3 {
			font-size: 1.1em;
			font-weight: 400;
			margin: 0;
		}

		span {
			margin: 0;
			font-size: 0.9em;
			font-weight: 400;
			color: $dark-grey;
		}
	}
}

.rpg-error {
	border: solid 1px $orange;
	background-color: $off-white;
	padding: 10px 25px;

	h3 {
		color: $orange;
		font-size: 1.1em;
		font-weight: 400;
	}
}

.rpgm-box {
	border: solid 1px $light-grey;
	padding: 10px 25px;
	font-size: 1.0em;
	margin-top: 20px;
	margin-bottom: 40px;

	p {
		margin-top: 10px;
	}

	.title {
		font-size: 0.7em;
		font-variant: all-small-caps;
		overflow: hidden;
		white-space: nowrap;
		margin-top: -10px;
		text-align: right;
		margin-right: -20px;
		color: $dark-grey;
	}

	&.white{
		background-color: $white;
	}
	&.off-white{
		background-color: $super-off-white;
	}
}

.rpgm-modal {
	h2.rpgm-modal-title {
		font-size: 1.5em;
	}

	.group {

	}

	.title {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		white-space: nowrap;
		display: inline-block;
		overflow: visible;
		margin: 10px;
		float:left;
		border-left: solid 1px #eeeeee;
	}

	.container {
		float: left;
	}

	.clear {
		clear: both;
	}

	input[type=text], input[type=text]:focus {
		border: none;
		border-bottom: solid 1px #eeeeee;
		border-radius: 0px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		box-shadow: 0 0 0 0 transparent;
	}

	.createFrontMatterOnly {
		margin-top: 10px;

		input[type=checkbox], label {
			float:left;
			margin-top: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	p {
		font-weight: 500;
		color: $dark-grey;
		padding-top: 25px;
		margin-bottom: 0px;
		font-size: 1.2em;
	}

	p.error {
		color: $red;
		display: none;
		font-size: 0.9em;
		font-weight: 200;
		margin: 0px;
		padding: 0px;
		margin-top: -10px;
	}

	select, select:focus {
		border: none;
		border-bottom: solid 1px #eeeeee;
		border-radius: 0px;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		box-shadow: 0 0 0 0 transparent;
	}

	button {
		right: 0px;
		float: right;
		background-color: $dark-grey;
		color: $white;
		margin-top: 50px;
	}
}

.rpgm-button {
	text-decoration: none;
	border: solid 0.5px $dark-grey;
	font-size: 0.9em;
	padding: 7px 20px;
	border-radius: 5px;
	color: $light-grey;

	:hover {
		color: $blue;
	}
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block>div .rpgm-table {
	margin-left: 0px !important;
	margin-right: 0px;
	width: 100%;
	max-width: 100%;


}

.rpgm-table {
	width: 100%;
	max-width: 100%;

	.inline {
		white-space: nowrap;
	}

	tr > th {
		white-space: nowrap;
		border-top: none;
		border-left: none;
		border-right: none;
	}

	tr > td {
		border: none;
	}

	tr > td .inline {
		white-space: nowrap;
	}
}

.rpgm-breadcrumb {
	width: 100%;
	font-size: 0.9em;
	text-align: center;
	//border-bottom: 1px solid $light-grey;
	padding-bottom: 20px;
	//margin-bottom: 40px;
	margin-bottom: 10px;

	h2 {
		margin-bottom: 0px;
	}

	.line {
		margin-left: 0%;
		margin-right: 0%;

		.separator {
			padding-right: 10px;
			padding-left: 10px;
		}

		.crumb, .separator {
			display: inline-block;

			.title, .value {
				text-align: left;
			}

			.title {

				font-weight: 100;
				font-size: 0.7em;
				font-variant-caps: small-caps;
				color: $dark-grey;
			}

			.value {
				font-weight: 300;
				font-size: 0.9em;
				text-align: left;

				p {
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}

	.reset {
		clear: both;
	}
}

.rpgm-header-info {
	width: 100%;
	border: 1px solid $off-white;
	margin-bottom: 40px;

	.title {
		width: 100%;
		font-weight: 400;
		font-size: 2em;
		border-bottom: 1px solid $off-white;
		text-align: center;

		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.container {
		width: 100%;

		.info, .image {
			padding: 10px;
		}

		.info {
			width: calc(100% - 320px);
			float: left;

			.longTitle {
				width: 100%;
				font-variant: small-caps;
				font-size: 0.8em;
				color: $dark-grey;
			}

			.longText {
				width: 100%;

				p{
					margin-bottom: 0px;
				}
			}

			.short {
				.shortTitle {
					width: 100px;
					font-variant: small-caps;
					font-size: 0.8em;
					color: $dark-grey;
					float:left;
				}

				.shortText {
					width: calc(100% - 100px);
					float:left;

					p {
						margin: 0px;
					}
				}

				.reset {
					clear: both;
				}
			}
		}

		.image {
			width: 300px;
			float: right;
		}

		.reset {
			clear: both;
		}
	}
}
