.rpgm-missing {
  font-weight: 100;
  font-style: italic;
  color: var(--text-faint);
  font-size: 0.9em;
}

.rpgm-container {
  overflow: hidden;
}

.rpgm-header {
  background-size: cover;
  color: var(--background-primary);
  position: relative;
  min-height: 350px;
  height: 350px;
}

.rpgm-plot-container {
  width: 100%;
  border-left: solid 1px var(--background-modifier-border);
  padding: 30px;
  margin-bottom: 20px;
  color: var(--text-muted);
}

.rpgm-plot {
  margin: 30px;
  color: var(--text-muted);
  margin-bottom: 60px;
}
.rpgm-plot p {
  margin: 0px;
}

.rpgm-header-overlay {
  margin-bottom: -50px;
  box-sizing: border-box;
  background: rgba(128, 128, 128, 0.5);
  min-height: 350px;
}
.rpgm-header-overlay .rpgm-header-title {
  font-size: 4em;
  display: inline-block;
  padding-left: 30px;
  width: 100%;
  margin-top: 50px;
}
.rpgm-header-overlay .rpgm-campaign-name {
  display: inline-block;
  padding-left: 30px;
  width: 100%;
  font-size: 1.6em;
}
.rpgm-header-overlay .rpgm-current-date {
  display: inline-block;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 2px;
}

.rpgm-timeline {
  margin-top: 50px;
}
.rpgm-timeline ul {
  padding: 1em 0 0 2em;
  margin: 0;
  list-style: none;
  position: relative;
  padding-inline-start: 0px;
}
.rpgm-timeline ul::before {
  content: " ";
  height: 100%;
  width: 1px;
  background-color: var(--background-modifier-border);
  position: absolute;
  top: 0;
  left: 133px;
  z-index: -1;
}
.rpgm-timeline li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}
.rpgm-timeline .bullet {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--text-muted);
  z-index: 1;
  margin-right: 10px;
  border: 1px solid var(--text-muted);
  margin-top: 20px;
}
.rpgm-timeline .bullet.red {
  border: 1px solid var(--text-error);
  background: var(--text-error);
}
.rpgm-timeline .bullet.green {
  border: 1px solid var(--interactive-success);
  background: var(--interactive-success);
}
.rpgm-timeline .bullet.blue {
  border: 1px solid var(--background-modifier-success);
  background: var(--background-modifier-success);
}
.rpgm-timeline .bullet.purple {
  border: 1px solid var(--interactive-accent);
  background: var(--interactive-accent);
}
.rpgm-timeline .event-time-container {
  width: 115px;
  margin-top: 18px;
  margin-right: 10px;
  text-align: right;
}
.rpgm-timeline .event-time-container .event-time {
  width: 115px;
  font-size: 0.75em;
  padding-top: 0.25em;
  margin-top: 0px;
}
.rpgm-timeline .event-time-container .event-type {
  width: 115px;
  font-size: 0.75em;
  margin-left: 0px;
  margin-top: 0px;
}
.rpgm-timeline .event-time-container .event-type.red {
  color: var(--text-error);
}
.rpgm-timeline .event-time-container .event-type.green {
  color: var(--interactive-success);
}
.rpgm-timeline .event-time-container .event-type.blue {
  color: var(--background-modifier-success);
}
.rpgm-timeline .event-time-container .event-type.purple {
  color: var(--interactive-accent);
}
.rpgm-timeline .event-details {
  margin-top: 0px;
  width: calc(100% - 151px);
}
.rpgm-timeline .event-details h3 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
}
.rpgm-timeline .event-details span {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  color: var(--text-muted);
}

.rpg-error {
  border: solid 1px var(--text-error);
  background-color: var(--background-secondary);
  padding: 10px 25px;
}
.rpg-error h3 {
  color: var(--text-error);
  font-size: 1.1em;
  font-weight: 400;
}

.rpgm-box {
  border: solid 1px var(--background-modifier-border);
  padding: 10px 25px;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.rpgm-box p {
  margin-top: 10px;
}
.rpgm-box .title {
  font-size: 0.7em;
  font-variant: all-small-caps;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -10px;
  text-align: right;
  margin-right: -20px;
  color: var(--text-muted);
}
.rpgm-box.white {
  background-color: var(--background-primary);
}
.rpgm-box.off-white {
  background-color: var(--background-primary-alt);
}

.rpgm-modal {
  display: block;
  padding: 20px;
}
.rpgm-modal h2.rpgm-modal-title {
  text-align: center;
}
.rpgm-modal .rpgm-grid {
  display: flex;
  gap: 20px;
}
.rpgm-modal .navigation {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1 0.5 auto;
}
.rpgm-modal .additionalElements {
  border: solid 1px var(--background-modifier-border);
  display: none;
  padding: 25px;
  padding-top: 0;
  min-width: 250px;
}
.rpgm-modal .group {
  display: flex;
}
.rpgm-modal .container {
  width: 100%;
}
.rpgm-modal .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  margin-right: 10px;
  padding: 10px;
  padding-right: 0;
  border-left: solid 1px var(--background-modifier-border);
}
.rpgm-modal label {
  color: var(--text-muted);
}
.rpgm-modal input[type=text],
.rpgm-modal input[type=text]:focus {
  border: none;
  border-bottom: solid 1px var(--text-normal);
  border-radius: 0px;
  width: 100%;
  margin-top: 2px;
  box-shadow: 0 0 0 0 transparent;
}
.rpgm-modal .navigation > .createFrontMatterOnly {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rpgm-modal .navigation > .createFrontMatterOnly input[type=checkbox] {
  margin: 0;
}
.rpgm-modal p.error {
  color: var(--text-error);
  display: none;
  font-size: 0.9em;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  margin-top: -10px;
}
.rpgm-modal select,
.rpgm-modal select:focus {
  border: none;
  border-bottom: solid 1px var(--background-modifier-border);
  border-radius: 0px;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 0 0 transparent;
}
.rpgm-modal button {
  display: block;
  margin-top: 10px;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block > div .rpgm-table {
  margin-left: 0px !important;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
}

.rpgm-table {
  width: 100%;
  max-width: 100%;
}
.rpgm-table .inline {
  white-space: nowrap;
}
.rpgm-table tr > th {
  white-space: nowrap;
  border-top: none;
  border-left: none;
  border-right: none;
}
.rpgm-table tr > td {
  border: none;
}
.rpgm-table tr > td .inline {
  white-space: nowrap;
}

.rpgm-breadcrumb {
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.rpgm-breadcrumb h2 {
  margin-bottom: 0px;
}
.rpgm-breadcrumb .line {
  margin-left: 0%;
  margin-right: 0%;
}
.rpgm-breadcrumb .line .separator {
  padding-right: 10px;
  padding-left: 10px;
}
.rpgm-breadcrumb .line .crumb, .rpgm-breadcrumb .line .separator {
  display: inline-block;
}
.rpgm-breadcrumb .line .crumb .title, .rpgm-breadcrumb .line .crumb .value, .rpgm-breadcrumb .line .separator .title, .rpgm-breadcrumb .line .separator .value {
  text-align: left;
}
.rpgm-breadcrumb .line .crumb .title, .rpgm-breadcrumb .line .separator .title {
  font-weight: 100;
  font-size: 0.7em;
  font-variant-caps: small-caps;
  color: var(--text-muted);
}
.rpgm-breadcrumb .line .crumb .value, .rpgm-breadcrumb .line .separator .value {
  font-weight: 300;
  font-size: 0.9em;
  text-align: left;
}
.rpgm-breadcrumb .line .crumb .value p, .rpgm-breadcrumb .line .separator .value p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.rpgm-breadcrumb .reset {
  clear: both;
}

.rpgm-header-info {
  width: 100%;
  border: 1px solid var(--background-modifier-border);
  margin-bottom: 40px;
}
.rpgm-header-info .title {
  width: 100%;
  font-weight: 400;
  font-size: 2em;
  border-bottom: 1px solid var(--background-modifier-border);
  text-align: center;
}
.rpgm-header-info .title p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rpgm-header-info .container {
  width: 100%;
}
.rpgm-header-info .container .info, .rpgm-header-info .container .image {
  padding: 10px;
}
.rpgm-header-info .container .info {
  width: calc(100% - 320px);
  float: left;
}
.rpgm-header-info .container .info .longTitle {
  width: 100%;
  font-variant: small-caps;
  font-size: 0.8em;
  color: var(--text-muted);
}
.rpgm-header-info .container .info .longText {
  width: 100%;
}
.rpgm-header-info .container .info .short .shortTitle {
  width: 100px;
  font-variant: small-caps;
  font-size: 0.8em;
  color: var(--text-muted);
  float: left;
}
.rpgm-header-info .container .info .short .shortText {
  width: calc(100% - 100px);
  float: left;
}
.rpgm-header-info .container .info .short .shortText p {
  margin: 0px;
}
.rpgm-header-info .container .info .short .reset {
  clear: both;
}
.rpgm-header-info .container .info-large {
  width: 100%;
}
.rpgm-header-info .container .image {
  width: 300px;
  float: right;
}
.rpgm-header-info .container .invisible {
  width: 0px;
}
.rpgm-header-info .container .reset {
  clear: both;
}

.markdown-embed .rpgm-breadcrumb {
  display: none;
}
.markdown-embed .rpgm-header-info .container .info {
  width: calc(100% - 120px);
}
.markdown-embed .rpgm-header-info .container .info-large {
  width: 100%;
}
.markdown-embed .rpgm-header-info .container .image {
  width: 120px;
}
.markdown-embed .rpgm-header-info .container .image img {
  width: 100px;
  height: 100px;
}
.markdown-embed .rpgm-header-info .container .invisible {
  width: 0px;
}

.markdown-preview-view th.raw, .markdown-source-view.mod-cm6 th.raw {
  font-weight: 700;
  color: var(--text-normal);
}

.rpgm-raw-character-record-shet-container {
  border: solid 1px var(--background-modifier-border);
  padding: 20px;
}
.rpgm-raw-character-record-shet-container table {
  font-size: 0.8em;
}
.rpgm-raw-character-record-shet-container table tr > th {
  font-weight: 700;
  color: var(--text-normal);
}
.rpgm-raw-character-record-shet-container table tr > td.untrained {
  color: var(--text-muted);
}
