.rpgm-missing {
  font-weight: 100;
  font-style: italic;
  color: #808080;
  font-size: 0.9em;
}

.rpgm-container {
  overflow: hidden;
}

.rpgm-header {
  background-size: cover;
  color: #fff;
  position: relative;
  min-height: 350px;
}

.rpgm-header-overlay {
  margin-bottom: -50px;
  box-sizing: border-box;
  background: rgba(128, 128, 128, 0.5);
  min-height: 350px;
}
.rpgm-header-overlay .rpgm-header-title {
  font-size: 4em;
  display: inline-block;
  padding-left: 30px;
  width: 100%;
  margin-top: 50px;
}
.rpgm-header-overlay .rpgm-campaign-name {
  display: inline-block;
  padding-left: 30px;
  width: 100%;
  font-size: 1.6em;
}
.rpgm-header-overlay .rpgm-current-date {
  display: inline-block;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 2px;
}

.rpgm-timeline {
  margin-top: 50px;
}
.rpgm-timeline ul {
  padding: 1em 0 0 2em;
  margin: 0;
  list-style: none;
  position: relative;
  padding-inline-start: 0px;
}
.rpgm-timeline ul::before {
  content: " ";
  height: 100%;
  width: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 133px;
  z-index: -1;
}
.rpgm-timeline li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}
.rpgm-timeline .bullet {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: #808080;
  z-index: 1;
  margin-right: 10px;
  border: 1px solid #808080;
  margin-top: 20px;
}
.rpgm-timeline .bullet.red {
  border: 1px solid #ff2020;
  background: #ff2020;
}
.rpgm-timeline .bullet.green {
  border: 1px solid #B0E8E2;
  background: #B0E8E2;
}
.rpgm-timeline .bullet.blue {
  border: 1px solid #2020ff;
  background: #2020ff;
}
.rpgm-timeline .bullet.purple {
  border: 1px solid #2020ff;
  background: #B97CFC;
}
.rpgm-timeline .event-time-container {
  width: 115px;
  margin-top: 18px;
  margin-right: 10px;
  text-align: right;
}
.rpgm-timeline .event-time-container .event-time {
  width: 115px;
  font-size: 0.75em;
  padding-top: 0.25em;
  margin-top: 0px;
}
.rpgm-timeline .event-time-container .event-type {
  width: 115px;
  font-size: 0.75em;
  margin-left: 0px;
  margin-top: 0px;
}
.rpgm-timeline .event-time-container .event-type.red {
  color: #ff2020;
}
.rpgm-timeline .event-time-container .event-type.green {
  color: #B0E8E2;
}
.rpgm-timeline .event-time-container .event-type.blue {
  color: #2020ff;
}
.rpgm-timeline .event-time-container .event-type.purple {
  color: #B97CFC;
}
.rpgm-timeline .event-details {
  margin-top: 0px;
  width: calc(100% - 151px);
}
.rpgm-timeline .event-details h3 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
}
.rpgm-timeline .event-details span {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400;
  color: #808080;
}

.rpg-error {
  border: solid 1px #EB8B6E;
  background-color: #eeeeee;
  padding: 10px 25px;
}
.rpg-error h3 {
  color: #EB8B6E;
  font-size: 1.1em;
  font-weight: 400;
}

.rpgm-scene-goal, .rpgm-scene-action {
  border: solid 1px #d9d9d9;
  padding: 10px 25px;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.rpgm-scene-goal p, .rpgm-scene-action p {
  margin-top: 10px;
}
.rpgm-scene-goal .title, .rpgm-scene-action .title {
  font-size: 0.7em;
  font-variant: all-small-caps;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -10px;
  text-align: right;
  margin-right: -20px;
  color: #808080;
}

.rpgm-scene-goal {
  background-color: #fff;
}

.rpgm-scene-action {
  background-color: #f9f9f9;
}

.rpgm-modal h2.rpgm-modal-title {
  font-size: 1.5em;
}
.rpgm-modal input[type=text], .rpgm-modal input[type=text]:focus {
  border: none;
  border-bottom: solid 1px #eeeeee;
  border-radius: 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0 transparent;
}
.rpgm-modal .createFrontMatterOnly {
  margin-top: 10px;
}
.rpgm-modal .createFrontMatterOnly input[type=checkbox], .rpgm-modal .createFrontMatterOnly label {
  float: left;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rpgm-modal p {
  font-weight: 500;
  color: #808080;
  padding-top: 25px;
  margin-bottom: 0px;
  font-size: 1.2em;
}
.rpgm-modal p.error {
  color: #ff2020;
  display: none;
  font-size: 0.9em;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  margin-top: -10px;
}
.rpgm-modal select, .rpgm-modal select:focus {
  border: none;
  border-bottom: solid 1px #eeeeee;
  border-radius: 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0 transparent;
}
.rpgm-modal button {
  right: 0px;
  float: right;
  background-color: #808080;
  color: #fff;
  margin-top: 50px;
}

.rpgm-button {
  text-decoration: none;
  border: solid 0.5px #808080;
  font-size: 0.9em;
  padding: 7px 20px;
  border-radius: 5px;
  color: #d9d9d9;
}
.rpgm-button :hover {
  color: #2020ff;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block > div .rpgm-table {
  margin-left: 0px !important;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
}

.rpgm-table {
  width: 100%;
  max-width: 100%;
}
.rpgm-table .inline {
  white-space: nowrap;
}
.rpgm-table tr > th {
  white-space: nowrap;
  border-top: none;
  border-left: none;
  border-right: none;
}
.rpgm-table tr > td {
  border: none;
}
.rpgm-table tr > td .inline {
  white-space: nowrap;
}

/*# sourceMappingURL=styles.css.map */
