
.suggestion-container {
	padding: 6px 0px;
}

.suggestion{
	position: relative;
}

.rpgm-missing {
	font-weight: 100;
	font-style: italic;
	color: var(--text-faint);
	font-size: 0.9em;
}

.rpg-error {
	border: solid 1px var(--text-error);
	background-color: var(--background-secondary);
	padding: 10px 25px;

	h3 {
		color: var(--text-error);
		font-size: 1.1em;
		font-weight: 400;
	}
}

.modal-content {
	.rpgm-modal-relationships {
		min-height: var(--modal-max-height);

		.relationship-select {
			position: relative;
			margin: 20px;
			float: left;

			select {
				background-color: var(--background-secondary);
				border-bottom: solid 1px var(--background-modifier-border);
				border-radius: 0;
				min-width: 150px;
				max-width: 500px;
				width: 100%;
				box-shadow: none;

				&:hover {
					box-shadow: none;
					background-color: var(--interactive-hover);
					cursor: pointer;
				}
			}
		}

		.relationships {
			margin-top: 20px;
			min-height: 400px;

			table {
				width: 100%;
			}

			table > tbody > tr {

				&:nth-child(odd) {
					background-color: var(--background-primary-alt);
				}
				td {
					height: 30px;

					input {
						margin: 0px 15px;
					}

					input:disabled, select:disabled {
						background-color: var(--background-modifier-border);
					}

					&.label {
						padding: 0px 10px;

						span {
							font-size: 0.8em;
							font-style: italic;
						}
					}

					&.description {
						max-width: 50%;

						p {
							font-size: 0.8em;
						}
					}
				}
				td.selector {
					select {
						background-color: var(--background-secondary);
						min-width: 10px;
						width: 100%;
					}
				}
			}
		}
	}
}

.rpgm-modal {
	display: block;
	padding: 20px;

	.input-title {
		font-weight: 100;
		font-size: 0.9em;
		font-variant-caps: small-caps;
		color: var(--text-muted);
		border: none;
		text-align: left;
		margin-top: 20px;
	}

	.rpgm-modal-scene-descriptions {
		.description-container{
			margin-top: 20px;
			border-top: solid 1px var(--background-modifier-border);

			div, span {
				margin-left: 20px;
			}

			span {
				font-style: italic;
				font-size: 0.9em;
			}
		}

	}

	button {
		display: block;
		margin-top: 10px;
	}

	div.selector {
		margin-bottom: 30px;
	}
}

.modal-content h1.error {
	color: var(--text-error);
}

.rpgm-view {
	padding: 10px;
}

.rpgm-right-view {
	background: var(--background-secondary);
	padding-top: 5px;
	font-size: 1em;
	height: 100%;

	.vertical-tab-header {
		background: var(--background-secondary);

		.title {
			font-size: 1.2em;
		}

		.vertical-tab-header-group-title {
			margin-bottom: 10px;
			text-transform: none;

			.vertical-tab-header-group-items {
				.vertical-tab-nav-item {
					padding: 5px 0px;
					margin: 0 8px 0;
					font-size: 1em;
				}

				.vertical-tab-nav-item:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.rpgm-new-timeline {
	padding:30px 20px;

	ul{
		list-style-type:none;
		border-left:1px solid var(--background-modifier-border);
		padding:10px 5px;
		margin-top: -30px;

		li{
			padding-top: 22px;
			padding-left: 15px;
			position:relative;

			.content {
				span{
					display:inline-block;
					text-align:left;
					font-weight: 300;
					font-size: 0.9em;
					font-variant: all-small-caps;
				}

				h3{
					color:#34ace0;
					margin-top: 0px;
				}

				p{
					padding-bottom: 10px;
				}
			}
		}

		li:before{
			position:absolute;
			content:'';
			width:15px;
			height:15px;
			background-color:var(--interactive-success);
			border-radius:50%;
			left:-13px;
			top:28px;
			transition:.5s;
		}

		span.clue {
			color:var(--interactive-success);
		}

		span.death {
			color:var(--text-error);
		}

		span.session {
			color:var(--background-modifier-success);
		}

		span.event {
			color:var(--interactive-accent);
		}

		li.death::before {
			background-color:var(--text-error);
		}

		li.session::before {
			background-color:var(--background-modifier-success);
		}

		li.event::before {
			background-color:var(--interactive-accent);
		}
	}
}

.rpgm-advanced-settings-table {
	border: solid 1px var(--background-modifier-border);
	min-width: 200px;

	th {
		text-align: left;
		font-size: 0.8em;
	}

	td {
		text-align: left;
		font-size: 0.8em;
	}
}
