.rpg-manager-content-editor{
	width: 100%;
	min-height: 200px;

	.rpg-manager-content-editor-abt-relative, .rpg-manager-content-editor-storycircle-container{
		float: left;
	}

	.rpg-manager-content-editor-abt-relative{
		width: 250px;
	}

	.rpg-manager-content-editor-storycircle-container{
		margin-left: 20px;
		width: calc(100% - 270px);
	}

	.rpg-manager-content-editor-input {
		width: 100%;
	}

	textarea {
		width: 100%;
		height: 200px;
	}
}

.rpg-manager-content-editor-button {
	margin-top: 30px;
	float: right;
}
