input[type=text], input[type=text]:focus {
  border: none;
  border-bottom: solid 1px var(--text-normal);
  border-radius: 0px;
  width: 100%;
  margin-top: 2px;
  box-shadow: 0 0 0 0 transparent;
}

input[type=checkbox] {
  margin: 0;
}

select, inputt[type=text] {
  border: none;
  background-color: var(--background-secondary);
  border-bottom: solid 1px var(--background-modifier-border);
  border-radius: 0;
  box-shadow: none;
}

select:hover, input:hover {
  box-shadow: none;
  background-color: var(--interactive-hover);
  cursor: pointer;
}

select,
select:focus {
  border: none;
  border-bottom: solid 1px var(--background-modifier-border);
  border-radius: 0px;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 0 0 transparent;
}
