input[type=text], textarea {
	width: 100%;
}

input[type=checkbox] {
	margin: 0;
}

select, input[type=text] {
	border: none;
	border-bottom: solid 1px var(--background-modifier-border);
	border-radius: 0;
	box-shadow: none;
	margin-top: 10px;
	box-shadow: 0 0 0 0 transparent;
}

select:hover, input:hover, textarea:hover {
	box-shadow: none;
	background-color: var(--interactive-hover);
	cursor: pointer;
	background-color: var(--background-secondary);
}

select, select:focus, input[type=text]:focus, textarea:focus {
	border: none;
	border-bottom: solid 1px var(--background-modifier-border);
	border-radius: 0px;
	width: 100%;
	box-shadow: 0 0 0 0 transparent;
}

textarea {
	border: solid 1px var(--background-modifier-border);
	border-radius: 0;
	box-shadow: none;
	margin-top: 10px;
	box-shadow: 0 0 0 0 transparent;
}

textarea:focus {
	border: solid 1px var(--background-modifier-border);
}

button {
	cursor: pointer;

	&.danger {
		background-color: var(--background-modifier-error);

		&:hover {
			background-color: var(--text-error);
			color: var(--text-on-accent);
		}
	}

	&:disabled {
		background-color: var(--background-primary-alt);
		cursor: not-allowed;
	}
}
