.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block > div .rpg-manager-table {
	margin-left: 0px !important;
	margin-right: 0px;
	width: 100%;
	max-width: 100%;
}

.rpg-manager-table-header {
	margin-bottom: 0px;
	padding-top: 15px;
	cursor: pointer;
	float: left;
	width: 100%;

	.rpgm-td-edit {
		padding-left: 20px;
		font-size: 0.7em;
		cursor: pointer;
		color: var(--text-accent);
	}
}

.rpg-manager-table {
	width: 100%;
	max-width: 100%;

	.rpg-manager-table-draggable {
		color: var(--rpg-manager-colour-text-light);
		cursor: pointer;

		span {
			display: none;
		}
	}

	.rpg-manager-table-draggable:hover > span {
		display: block;
	}

	.inline {
		white-space: nowrap;
	}

	thead {
		border: none;
		border-bottom: solid 1px var(--rpg-manager-colour-border);
	}

	tr > td.image {
		width: 50px;
		min-width: 50px;
	}

	tr > th {
		white-space: nowrap;
		border: none;
		text-align: left;
	}

	tr > td {
		height: 50px;
		border: none;
		text-align: left;

		p {
			margin: 0px;
		}
	}

	tr > td .inline {
		white-space: nowrap;
	}

	tbody > tr > td {
		font-size: 0.8em;
	}

	tbody > tr > td.rpg-manager-table-editor-container {
		width: 20px;
		min-width: 20px;
		margin: 0px;
		padding: 0px;

		.rpg-manager-table-editor {
			display: none;
			cursor: pointer;
			margin: 0px;
			padding: 0px;
			color: var(--rpg-manager-colour-text-link);
		}
	}

	tbody > tr:hover {
		td {
			background-color: var(--rpg-manager-colour-background);
		}

		td > .rpg-manager-table-editor {
			display: inline;
		}
	}

	tbody > tr > td.smaller {
		font-size: 0.7em;
	}
}
