.rpg-manager-right-view {
	padding-top: 5px;
	font-size: 1em;
	height: 100%;
	margin-bottom: 50px;

	h2 {
		font-size: 1em;
		font-weight: 400;
	}

	.rpg-manager-right-view-title {
		border-bottom: solid 1px var(--rpg-manager-colour-border);
		margin-bottom: 0px;

		h3 {
			font-size: 0.9em;
			font-weight: 300;
			float: left;
			width: calc(100% - 30px);
			margin: 0px;
		}

		svg {
			float: left;
		}
	}

	.rpg-manager-right-view-container {
		margin: 0px;
		margin-left: 20px;

		.rpg-manager-right-view-container-element {
			font-size: 0.8em;
			font-weight: 200;
			margin: 10px;

			&:hover {
				color: var(--rpg-manager-colour-text-link);
				cursor: pointer;
			}
		}

		&.closed {
			display: none;
		}

		&.open {
			display: block;
		}
	}
}
