.rpg-manager-timeline-header {
	background-size: cover;
	color: var(--rpg-manager-colour-background);
	position: relative;
	min-height: 350px;
	height: 350px;

	.rpg-manager-timeline-header-overlay {
		margin-bottom: -50px;
		box-sizing: border-box;
		background: rgba(128, 128, 128, 0.5);
		min-height: 350px;

		.rpg-manager-timeline-header-overlay-title {
			font-size: 4em;
			display: inline-block;
			padding-left: 30px;
			width: 100%;
			margin-top: 50px;
		}

		.rpg-manager-timeline-header-overlay-name {
			display: inline-block;
			padding-left: 55px;
			width: 100%;
			font-size: 1.6em;
		}

		.rpg-manager-timeline-header-overlay-date {
			display: inline-block;
			padding-left: 55px;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 0.6em;
			letter-spacing: 2px;
			width: 100%;
		}
	}
}


.rpg-manager-timeline-content {
	padding: 30px 20px;

	ul {
		list-style-type: none;
		border-left: 1px solid var(--rpg-manager-colour-border);
		padding: 10px 5px;
		margin-top: -30px;

		li {
			position: relative;

			.rpg-manager-timeline-content-element {
				padding-left: 10px;
				font-weight: 200;
				margin-bottom: 20px;

				span {
					display: inline-block;
					text-align: left;
					font-size: 0.9em;
					font-variant: all-small-caps;
				}

				h3 {
					color: var(--rpg-manager-colour-text-link);
					margin-top: 0px;
					margin-bottom: 0px;
				}

				div > p {
					font-size: 0.8em;
					margin: 0px;
				}
			}
		}

		li:before {
			position: absolute;
			content: '';
			width: 15px;
			height: 15px;
			background-color: var(--code-property);
			border-radius: 50%;
			left: -13px;
			top: 28px;
			transition: .5s;
		}

		span.clue {
			color: var(--code-property);
		}

		span.death {
			color: var(--text-error);
		}

		span.session {
			color: var(--background-modifier-success);
		}

		span.event {
			color: var(--interactive-accent);
		}

		li.clue::before {
			background-color: var(--code-property);
		}

		li.death::before {
			background-color: var(--text-error);
		}

		li.session::before {
			background-color: var(--background-modifier-success);
		}

		li.event::before {
			background-color: var(--interactive-accent);
		}
	}
}
