.rpg-manager-scene-builder-confirmation {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: var(--text-on-accent);
	text-align: center;
	padding-top: calc(50% / 2);
	font-size: 2em;
	font-weight: 200;
}

.rpg-manager-scene-builder {
	.scenes-container {
		table {
			width: 100%;

			tr > td.scenes-container-table-title {
				width: 20%;
			}

			tr > td.scenes-container-table-goal {
				width: 50%;
			}

			tr > td.scenes-container-table-type {
				width: 20%;
			}

			tr > td.scenes-container-table-exciting {
				width: 10%;
				text-align: center;
			}
		}
	}

	.rpg-manager-scene-builder-confirmation-button {
		margin-top: 30px;
		float: right;
	}
}
