.rpg-manager-scene-builder-confirmation {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: var(--text-on-accent);
	text-align: center;
	padding-top: calc(50% / 2);
	font-size: 2em;
	font-weight: 200;
}

.rpg-manager-scene-builder {
	.scenes-container {
		table {
			width: 100%;

			tr > td.scenes-container-table-title{
				width: 150px;
				max-width: 150px;
			}

			tr > td.scenes-container-table-stage {
				width: 50px;
				max-width: 50px;
				font-size: 0.9em;

				select {
					width: 50px;
					max-width: 50px;
				}
			}

			tr > td.scenes-container-table-goal {
				width: calc(100% - 350px);
			}

			tr > td.scenes-container-table-type {
				width: 100px;
				max-width: 100px;

				select {
					width: 100px;
					max-width: 100px;
				}
			}

			tr > td.scenes-container-table-exciting {
				width: 50px;
				max-width: 50px;
				text-align: center;
			}
		}
	}

	.rpg-manager-scene-builder-confirmation-button {
		margin-top: 30px;
		float: right;
	}

	.rpg-manager-scene-builder-plot {
		width: 100%;
		font-size: 0.9em;
		border: solid 1px var(--rpg-manager-colour-border);
		margin: 10px;
		padding: 10px;

		.rpg-manager-scene-builder-plot-line {
			position: relative;

			.rpg-manager-scene-builder-plot-line-title,
			.rpg-manager-scene-builder-plot-line-description {
				float: left;
			}

			.rpg-manager-scene-builder-plot-line-title {
				width: 50px;
				max-width: 50px;
				font-weight: 700;
			}

			.rpg-manager-scene-builder-plot-line-description {
				width: calc(100% - 50px);
				padding-left: 20px;
				font-weight: 300;

				p {
					margin: 0;
				}
			}
		}
	}
}
