.rpg-manager-scene-builder-confirmation {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: var(--text-on-accent);
  text-align: center;
  padding-top: 25%;
  font-size: 2em;
  font-weight: 200;
}

.rpg-manager-scene-builder .scenes-container table {
  width: 100%;
}
.rpg-manager-scene-builder .scenes-container table tbody > tr > td.scenes-container-table-title,
.rpg-manager-scene-builder .scenes-container table thead > tr > td.scenes-container-table-title {
  width: 20%;
}
.rpg-manager-scene-builder .scenes-container table tr > td.scenes-container-table-goal {
  width: 50%;
}
.rpg-manager-scene-builder .scenes-container table tr > td.scenes-container-table-type {
  width: 100px;
  max-width: 100px;
}
.rpg-manager-scene-builder .scenes-container table tr > td.scenes-container-table-type select {
  width: 100px;
  max-width: 100px;
}
.rpg-manager-scene-builder .scenes-container table tr > td.scenes-container-table-exciting {
  width: 10%;
  text-align: center;
}
.rpg-manager-scene-builder .rpg-manager-scene-builder-confirmation-button {
  margin-top: 30px;
  float: right;
}
