.rpgm-new-analyser.centred {
  text-align: center;
}
.rpgm-new-analyser .c100.error .bar, .rpgm-new-analyser .c100.error .fill {
  border-color: var(--text-error) !important;
}
.rpgm-new-analyser .c100.error:hover > span {
  color: var(--text-error);
}
.rpgm-new-analyser .c100.warning .bar, .rpgm-new-analyser .c100.warning .fill {
  border-color: var(--code-important) !important;
}
.rpgm-new-analyser .c100.warning:hover > span {
  color: var(--code-important);
}
.rpgm-new-analyser .c100.balanced .bar, .rpgm-new-analyser .c100.balanced .fill {
  border-color: var(--code-property) !important;
}
.rpgm-new-analyser .c100.balanced:hover > span {
  color: var(--code-property);
}
.rpgm-new-analyser .c100.perfect .bar, .rpgm-new-analyser .c100.perfect .fill {
  border-color: var(--text-success) !important;
}
.rpgm-new-analyser .c100.perfect:hover > span {
  color: var(--text-success);
}
