.rpg-manager-component-option {
	width: 100%;
	font-size: 0.9em;
	text-align: center;
	margin: 0px 0%;
	padding: 10px 0px;
	border-bottom: solid 1px var(--rpg-manager-colour-border);

	.option, .separator {
		display: inline-block;
	}

	.separator {
		padding-right: 10px;
		padding-left: 10px;
		font-weight: 100;
	}

	.option {
		text-align: left;
		font-weight: 300;
		font-size: 0.9em;
		text-align: left;
		cursor: pointer;
		color: var(--rpg-manager-colour-text-link);
	}
}

.popover {
	.rpg-manager-component-option {
		display: none;
	}
}
